
:root {
    --white: #F1EFF0;
    --green: #A0EA71;
    --bg: #EDEDED;
    --border: #ddd;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    min-width: 1280px;
}

.file {
    display: none;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100px;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    padding: 6px 0;
    box-shadow: 2px 2px 4px #ddd;
}

.menu .menu-item {
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    transition: all .3s;
}

.menu .menu-item:hover {
    background-color: #efefef;
}

.container {
    height: 100%;
    background-color: #000000;
}

/* iphone xr 414×896 */
.wrapper {
    width: 414px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 0 23px 0 17px;
    height: 48px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border);
}

.header .arrow {
    width: 10px;
    height: 10px;
    border-left: 1.5px solid black;
    border-bottom: 1.5px solid black;
    transform: rotate(45deg);
    transform-origin: center;
}

.header .name {
    flex: 1;
    text-align: center;
    background-color: transparent;
    border: 0;
    outline: 0;
    margin: 0 30px;
}

.header .dot {
    margin-right: 7px;
    position: relative;
    align-items: center;
    height: 4px;
    width: 4px;
    margin: 0 3px;
    border-radius: 50%;
    background-color: black;
}
.header .dot::after, .header .dot::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: black;
}

.header .dot::after {
    right: -7px;
}

.header .dot::before {
    left: -7px;
}

.content {
    padding: 10px;
    flex: 1;
    background-color: var(--bg);
    overflow: auto;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

.content::-webkit-scrollbar {
    display: none;
}

.content .message {
    margin-bottom: 16px;
    min-height: 40px;
    display: flex;
}

.message .avatar {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
    background-size: cover;
}

.message .avatar-own {
    cursor: pointer;
}

.message .text {
    position: relative;
    margin: 0 12px;
    padding: 10px;
    min-height: 40px;
    background-color: white;
    font-size: 16px;
    line-height: 20px;
    max-width: 285px;
    border-radius: 4px;
}

.message .text::before {
    content: '';
    width: 11px;
    height: 11px;
    border-radius: 2px;
    transform-origin: center;
    transform: rotate(45deg);
    position: absolute;
    top: 14px;
    left: -4px;
    background-color: white;
}

.content .right {
    flex-direction: row-reverse;
}

.right .text {
    background-color: var(--green);
}

.right .text::before {
    right: -4px;
    left: unset;
    transform: (-45deg);
    background-color: var(--green);
}

.footer {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    background-color: var(--white);
    border-top: 1px solid var(--border);
}

.footer .input {
    margin: 0 10px;
    flex: 1;
    padding: 0 10px;
    font-size: 16px;
    line-height: 22px;
    background-color: white;
    border: 0;
    border-radius: 4px;
    height: 40px;
}

.footer .icon {
    width: 28px;
    height: 28px;
}

.footer .emoji {
    margin-right: 12px;
}